# npm
dist
node_modules
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

.env
.env.local

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
temp_auto_push.bat
temp_interactive_push.bat
